<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Oakland Answers' %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', :media => 'all' %>

    <style>
      body {
       background:transparent url('<%= ENV['BACKGROUND_IMAGE'] %>') repeat 0 100%;
      }
    </style>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-inverse">
      <div class="navbar-inner">
        <div class="row">
        <div class="logo span4">
          <%= link_to "Oakland Answers", root_path, class: "oakland-logo" %>
          <span>
            <%= image_tag 'beta.png', class:'beta' %>

          </span>
        </div>
            <ul class="nav nav-links span5">
              <li><%= link_to "Browse Q&A's", articles_path %></li>
              <% if current_user.present? %>
                <li><%= link_to "Create a New Q&A", new_article_path %></li>
              <% end %>
            </ul>
          <form id="sign-in">
            <% if current_user.present? %>
              <%= link_to 'Sign Out', sign_out_path , class: 'btn' %>
          <% else %>
              <%= link_to 'Sign In', sign_in_path, class: 'btn btn-success' %>
            <% end %>
          </form>
      </div>
      </div>
    </div>

    <div class="container main clearfix"></div><!-- main content container -->


    <% #TODO: Move To Partial %>
    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    </div>

    <div id="footer">
        <div class="cfa-logos">
          <%= link_to image_tag('cfa_logo_footer.png'), 'http://codeforamerica.org/', class:"right" %>
          <span class="plus">&#43;</span>
          <%= link_to image_tag('openoaklandlogo.png'), 'http://openoakland.org/', class: 'right' %>
          <span class="plus">&#43;</span>
          <%= link_to image_tag('OaklandCityTree.png'), 'http://openoakland.org/', class: 'right' %>
        </div>
    </div>

  </body>
</html>
